<script setup lang="ts">
import FirstComponent from "../components/FirstComponent.vue";
import SecondComponent from "../components/SecondComponent.vue";
import { ref } from "vue";
const num1 = ref(0);

function inc() {
  num1.value++;
}
function dec() {
  if (num1.value > 0) {
    num1.value--;
  }
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col
        ><h2><FirstComponent /></h2>
        <h4>{{ num1 }}</h4>
        <br />
        <v-btn elevation="3" @click="inc()"> INCREMENT </v-btn>
      </v-col>

      <v-col
        ><h2><SecondComponent /></h2>
        <h4>{{ num1 * 2 }}</h4>
        <br /><v-btn elevation="3" @click="dec()"> DECREASE </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
