<script lang="ts" setup>
import { ref } from "vue";
const imgs = ref("feeling_imgs/smile.png");
const emo = ref("Smile");
function ANGRY() {
  emo.value = "Angry";
  imgs.value = "feeling_imgs/angry.png";
}
function CUTE() {
  emo.value = "Cute";
  imgs.value = "feeling_imgs/cute.png";
}
function EXCITED() {
  emo.value = "Excited";
  imgs.value = "feeling_imgs/excited.png";
}
function PAIN() {
  emo.value = "Pain";
  imgs.value = "feeling_imgs/pain.png";
}
function SHOCKED() {
  emo.value = "Shocked";
  imgs.value = "feeling_imgs/shocked.png";
}
function SMILE() {
  emo.value = "Smile";
  imgs.value = "feeling_imgs/smile.png";
}
</script>
<template>
  <v-container>
    <v-row class="ma-16">
      <v-col cols="6">
        <v-img :src="imgs" width="70%" cover></v-img>
      </v-col>

      <v-col cols="6">
        <div class="center">
          <h2>{{ emo }}</h2>
        </div>

        <v-btn block class="ma-4" @click="ANGRY"><h4>ANGRY</h4> </v-btn>

        <v-btn block class="ma-4" @click="CUTE"><h4>CUTE</h4> </v-btn>

        <v-btn block class="ma-4" @click="EXCITED"><h4>EXCITED</h4> </v-btn>

        <v-btn block class="ma-4" @click="PAIN"><h4>PAIN</h4> </v-btn>

        <v-btn block class="ma-4" @click="SHOCKED"><h4>SHOCKED</h4> </v-btn>

        <v-btn block class="ma-4" @click="SMILE"><h4>SMILE</h4> </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
button:focus {
  background: yellow;
}
.center {
  text-align: center;
}
</style>
